{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.first_name }} Home Page</title>
    <link href='{% static "css/bootstrap.min.css"%}' rel='stylesheet' type='text/css' />
    <link href='{% static "css/style.css"%}' rel='stylesheet' type='text/css' />
<!--    <link href='{% static "css/all.css"%}' rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='{% static "js/jquery.min.js"%}'></script>
    <script src='{% static "js/popper.min.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
</head>
<body>
<div class="bg-dark" style="width:100%">
    <div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MusicMedia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="signup">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{ request.user.first_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="update_profile">Update Profile</a>
                <a class="dropdown-item" href="mail_send">Change Password</a>
                <a class="dropdown-item" href="get_playlist">Play My Playlist</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
            {% endif %}
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="search_song" method="get">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</ul>
</nav>
    </div>
</div>
{% block content %}
{% endblock %}

</body>
</html>