{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Reset Password</title>
</head>
     <link href='{% static "css/bootstrap.min.css"%}' rel='stylesheet' type='text/css' />
    <link href='{% static "css/style.css"%}' rel='stylesheet' type='text/css' />
    <link href='{% static "css/all.css"%}' rel="stylesheet">
    <script src='{% static "js/jquery.min.js"%}'></script>
    <script src='{% static "js/popper.min.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
</head>

<body>
<div class="container">

    <h3>Please change your password </h3>
    <hr>

    <form class="form-group" action="/change_password" method="post">{% csrf_token %}
        <label class="mr-sm-2">Enter New password:</label>
        <input class="form-control mb-0 mr-sm-2" placeholder="Enter password" id="pass" name="pass">

        <label class="mr-sm-2 mt-3">Confirm password:</label>
        <input class="form-control mb-0 mr-sm-2" placeholder="Retype password" id="cpass" name="cpass" onkeyup="validate_password()">
        <p id="msg"></p>
        <button type="submit" class="btn btn-outline-success mt-3" id="mysubmit" >confirm</button>
    </form>


</div>
<script>
    function validate_password(){

        pass = document.getElementById('pass').value;
        cpass = document.getElementById('cpass').value;
        console.log(cpass)

        if (pass == cpass)
            {
                document.getElementById('msg').innerHTML = ""
                document.getElementById('mysubmit').disabled = false;
            }
        else
            {
                document.getElementById('msg').style.color = "red";
                document.getElementById('msg').innerHTML = "* Password and Confirm password is not same" ;
                document.getElementById('mysubmit').disabled = true;
            }
    }
</script>
</body>
</html>