{% extends 'base.html' %} {% load static %} {% block content %} {% if msg and msg1 %}
<div class="container" style="text-align:right;">
    <div class="row">
        <div class="col-12">
            <p>you searched for <b>{{msg}}</b></p>
            {% for msg1 in msg1 %}
            <p>search instead <a href="/search_song/?search={{msg1}}"><b>{{msg1}}</b></a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %} {% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

<div class="container">
    <div class="row">

        {% for song in songs %}
        <div class="col-md-4 col-sm-12 mt-3">
            <div class="card">
                <a href="play_song?id={{song.id}}"><img class="card-img-top rounded" width="300" height="236" src="/media/{{song.image}}"></a>
                <div class="card-body" style="padding:35px">
                    <h5 class="card-title">Song : {{song.name}}</h5>
                    <p class="card-text">Artist : {{ song.artist }}</p>
                    <p class="card-text" style="margin-top:10px">Movie : {{ song.movie }}</p>
                    <a href="/play_song/?id={{song.id}}"><i class="fa fa-play-circle fa-2x mt-2" title="play"
                                aria-hidden="true"></i></a>

                    <!--  Collapse  -->
                    <a class="ml-2" data-toggle="collapse" href="#collapseExample_{{song.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-share-alt fa-2x" title="share song" aria-hidden="true"></i>
                    </a>
                    <div class="collapse" id="collapseExample_{{song.id}}">
                        <div class="card card-body">
                            <div>
                                <a href="/share_from_mail/?id={{song.id}}" style="color:black">
                                    <i class="fa fa-envelope-square fa-1x" aria-hidden="true" style="margin-left:15px;"></i>
                                    <label>Gmail</label>
                                </a>

                                <a data-link_id="{{song.id}}" class="link_class" data-action="share/whatsapp/share" style="color:black">
                                    <i class="fa fa-whatsapp" aria-hidden="true" style="margin-left:15px"></i>
                                    <label>Whatsapp</label>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- Collapse end ! -->

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<!-- for sharing through whatsapp ...-->
<script>
    $(document).ready(function() {
        $(".link_class").click(function() {

            // !--AJAX through jQuery-- >
            var song_id = $(this).attr("data-link_id");

            $.ajax({
                url: "/share_on_whatsapp/?id=" + song_id,
                type: 'GET',
                success: function(data) {
                    var pre_link = "https://api.whatsapp.com/send?text=";
                    var link_from_ajax = data;
                    var share_link = pre_link + link_from_ajax
                    $(".link_class").attr("href", share_link)
                    window.location.href = $('.link_class').attr('href');
                    /* this will click button second time automatically .
                    without this we had to click button twice to go on new href link.
                    */
                }
            });
            // !--AJAX done-- >
        });
    });
</script>
{% endblock %}