{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Playlist</title>
    <link rel="icon" type="image/png" href="{% static '/image/fevicon.jfif' %}" />
    <link href='{% static "css/bootstrap.min.css"%}' rel='stylesheet' type='text/css' />
    <link href='{% static "css/style.css"%}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src='{% static "js/jquery.min.js"%}'></script>
    <script src='{% static "js/popper.min.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src='{% static "js/audioPlayer.js"%}'></script>
    <style>
        #playlist{
            list-style: none;
        }
        #playlist li a{
            color:black;
            text-decoration: none;
        }
        #playlist .current-song a{
            color:Green;
        }
    </style>
</head>
<body>

<div class="bg-dark" style="width:100%">
    <div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MusicMedia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{ request.user.first_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'update_profile' %}">Update Profile</a>
                <a class="dropdown-item" href="{% url 'mail_send' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'get_playlist' %}">Play My Playlist</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_song' %}" method="get">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</ul>
</nav>
    </div>
</div>


<div class="container">
    <h3 style="margin-top:10px;font-size:20px">{{ request.user.first_name }} your playlist:</h3>
     <a href="/"><button type="button" class="btn btn-outline-primary">&blacktriangleleft; Back</button></a>
    <hr>
    <center>
        <button id="previous" style="margin-bottom:45px ; margin-left:3px;border-radius:15% " type="button" class="btn btn-outline-primary"><i class="fas fa-backward"></i> Previous</button>
        <audio src="" controls id="audioPlayer" title="{{song.name}}" style="width:100%;">
            Sorry, your browser doesn't support html5!
        </audio>
        <button id="next" style="margin-bottom:45px ; margin-left:3px;border-radius:15% " type="button" class="btn btn-outline-primary"> Next <i class="fas fa-forward"></i></button>
    </center>
    <div style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Movie</th>
                <th>Play</th>
            </tr>
        </thead>
    <tbody id="playlist">
    {% for song in songs %}
        <tr>
            <td>{{ songs.start_index|add:forloop.counter0  }}  </td>
            <td>{{song.song_id.name}}</td>
            <td>{{song.song_id.artist}}</td>
            <td>{{song.song_id.movie}}</td>
            <td><a href="/media/{{song.song_id.song_file}}" data-link_id="{{forloop.counter0}}"><i class="fa fa-play-circle fa-2x" aria-hidden="true"></i></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

    {% if songs.has_other_pages %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
        {% if songs.has_previous %}
            <a class="page-link" href="?page={{ songs.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        {% else %}
            <a class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}
        </li>
        {% for i in songs.paginator.page_range %}
            {% if i <= 3 %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" >...</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item">

        {% if songs.has_next %}
          <a class="page-link" href="?page={{ songs.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        {% else %}
            <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
            {% endif %}
        </li>
      </ul>
</nav>
 {% endif %}

</div>

   <script>
        audioPlayer();
    </script>

</body>
</html>