{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ song.name }}</title>
    <link href='{% static "css/bootstrap.min.css"%}' rel='stylesheet' type='text/css' />
    <link href='{% static "css/style1.css"%}' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src='{% static "js/jquery.min.js"%}'></script>
    <script src='{% static "js/popper.min.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>

    <script>
        function check_song(song_id)
        {
            var url = "check_song?songid="+song_id
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function()
            {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    {
                        if (xmlhttp.responseText == 'song already liked.')
                        {
                            document.getElementById('likebtn').className ="fas fa-heart fa-3x";
                            document.getElementById('likebtn').style.color ="red";
                            document.getElementById('likebtn').title ="Liked";
                        }
                        else
                        {
                            document.getElementById('likebtn').className ="far fa-heart fa-3x";
                            document.getElementById('likebtn').style.color ="black";
                            document.getElementById('likebtn').title ="Like song";
                        }
                    }
            };
            xmlhttp.open("GET",url, true);
            xmlhttp.send();
        };
    </script>



</head>
<body id="songbody" onload="check_song({{song.id}})">
<div class="container-fluid" >
    <div class="container" >
        <div class="row" style="margin-top:10px">
            <div class="col-md-4 col-sm-12" >
                <img src="media/{{song.image}}" height="350px" width="350px">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card-body">
                        <h5 class="card-title">Song : {{song.name}}</h5>
                        <p class="card-text">Artist : {{ song.artist }}</p>
                        <p class="card-text">Movie : {{ song.movie }}</p>
                        <p class="card-text">Tags : {{ song.tags }}</p>
                        <audio controls>
                                <source src="media/{{song.song_file}}">
                        </audio>
                        <a id="" href="#" onclick="like_dislike({{ song.id }})" ><i class="far fa-heart fa-3x" id="likebtn" title="Like song"></i></a>
                        <p id="msg"></p>
                    <a href="/"><button type="button" class="btn btn-outline-primary">&blacktriangleleft; Back </button></a>
                    <div id="create_playlist_id" class="form-group" style="margin-top:10px" hidden>
                        <label>Name :</label>
                        <input type="text" class="form-control" name="playlist_name" id="pl_name_id"><br>
                        <button type="button" id="btn" class="btn btn-outline-primary" onclick="create_playlist()">create playlist </button>
                    </div>
                    <p id="pl_msg_id"></p>
                </div>
            </div>
        </div>
    </div>
</div>

 {% include "common_footer.html" %}


<script>
    function create_playlist()
    {   var count =0
        var name = document.getElementById('pl_name_id').value
        var url = "create_playlist?name="+name

        if (name == '')
        {
            document.getElementById("pl_msg_id").style.color ="red";
            document.getElementById("pl_msg_id").innerHTML = "* Name required"
        }

        else {

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function()
            {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    if (xmlhttp.responseText == 'Playlist created successfully.')
                    {
                        document.getElementById("create_playlist_id").hidden =true;
                        document.getElementById("pl_msg_id").style.color ="green";
                        document.getElementById("pl_msg_id").innerHTML = xmlhttp.responseText;
                        setTimeout(function()
                        {
                            document.getElementById("pl_msg_id").innerHTML = '';
                        }, 3000);
                    }
                }
            };
            xmlhttp.open("GET",url, true);
            xmlhttp.send();
        }
    };


    function like_dislike(song_id)
    {
        var status
        if (document.getElementById('likebtn').style.color === "red")
        {
        document.getElementById('likebtn').className ="far fa-heart fa-3x";
        document.getElementById('likebtn').style.color ="black";
        document.getElementById('likebtn').title ="Like song";
        status = 0
        }
        else
        {
            document.getElementById('likebtn').className ="fas fa-heart fa-3x";
            document.getElementById('likebtn').style.color ="red";
            document.getElementById('likebtn').title ="Liked";
            status = 1
        }
        <!-- AJAX for response text    -->
        var url = "like_dislike?songid="+song_id+"&status="+status;
        var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            if (xmlhttp.responseText == 'song is added to your playlist.')
                            {
                                document.getElementById("msg").style.color ="green";
                                document.getElementById("msg").innerHTML = xmlhttp.responseText;
                                setTimeout(function()
                                {
                                    document.getElementById("msg").innerHTML = '';
                                }, 3000);
                            }

                            else if (xmlhttp.responseText == "You don't have your playlist please create your playlist first.")
                            {
                                document.getElementById('likebtn').className ="far fa-heart fa-3x";
                                document.getElementById('likebtn').style.color ="black";
                                document.getElementById("msg").innerHTML = xmlhttp.responseText;
                                document.getElementById("msg").style.color ="red";
                                setTimeout(function()
                                {
                                    document.getElementById("msg").innerHTML = '';
                                }, 5000);
                                document.getElementById("create_playlist_id").hidden = false;
                            }

                            else
                            {
                                document.getElementById('likebtn').className ="far fa-heart fa-3x";
                                document.getElementById('likebtn').style.color ="black";
                                document.getElementById('likebtn').title ="Like song";
                                document.getElementById("msg").innerHTML = xmlhttp.responseText;
                                document.getElementById("msg").style.color ="red";
                                setTimeout(function()
                                {
                                    document.getElementById("msg").innerHTML = '';
                                }, 3000);
                            }
                    }
                };
                xmlhttp.open("GET",url, true);
                xmlhttp.send();
    };

</script>


</body>
</html>